@font-face {
    font-family: baskic8;
    src: url(res/Baskic8.otf);
}

@font-face {
    font-family: essentle4;
    src: url(res/Essentle4.otf);
}

* {
    font-family: baskic8;
}

body{
    padding: 0%;
    margin: 0%;
    

}

.footer {
    width: 100%; 
    height: 90px;
    background-color: rgb(61, 70, 85);
    padding: 0%;
    margin: 0%;
    position: absolute;
    bottom: 0;

    

}

#text {
    font-size: 50px;
    position: relative;
    top: 300px;
    margin-left: 200px;
    user-select: none;
    line-height: 150%;

    
}

.footerLink {
    font-size: 20px;
    font-family: essentle4;
    user-select: none;
}





