body {
    background-color: rgb(41, 41, 41);
    padding: 0;
}
div.topbox {
    width: 2000px;
    height: 70px;
    background-color: rgb(78, 78, 78); 
}
div.bottombox {
    width: 2000px;
    height: 70px;
    background-color: rgb(211, 16, 16);
    margin-top: 800px;
}